[2019-03-27 17:04] michalbundyra opened #2 "Support for zend-stratigility v2"
We need to add autoloader override for zend-stratigility v2 functions.

[2019-03-27 19:24] weierophinney commented on #2
I was thinking these hadn't changed at all, and then I noticed that the typehints change due to the functions being developed pre-PSR-15 adoption.

I think I can manage this via conditional definitions; I'll create a PR shortly.

[2019-04-01 21:58] weierophinney commented on #2
Closing. #7 will resolve this, but the agreed upon solution is to create proxy functions in each package that defines them during the filter-tree operation.

[2019-04-01 21:58] #2 closed, assigned to nobody

[2019-04-18 20:48] lpj145 opened #17 "About zend."
- [] I was not able to find an [open](https://github.com/laminas/laminas-zendframework-bridge/issues?q=is%3Aopen) or [closed](https://github.com/laminas/laminas-zendframework-bridge/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on our [forums](https://discourse.laminas.dev/).)

Sorry, but i don't can access forum... all zend package

[2019-04-18 21:13] RobQuistNL commented on #17
No, not yet: https://github.com/zendframework/zendframework

Laminas will be the new name and this package

[2019-04-18 23:26] lpj145 commented on #17
ok, i love way's what zend solved the problems, and avaliable for help, thanks!

[2019-04-19 20:43] TomasVotruba opened #18 "Migrate the code instead"
I see the implementation basically replaces "Zend" with "Laminas" in namespace. This step introduces possible conflict of 2 classes, one with Laminas, one with Zend. It also adds extra work with eventual migration.

Why not migrate the namespace when laminas packages are used already?

I work on a tool that instantly migrates PHP code - [Rector](https://github.com/rectorphp/rector). It can do this

[2019-04-21 20:40] vv12131415 opened #19 "Make autoloader a bit faster"
https://github.com/laminas/laminas-zendframework-bridge/blob/0d159d8d7580e78b8a20b317e6c669cf11a14e04/src/Autoloader.php#L22

You can make anonymous function as static one, and it will load a little bit faster.

[2019-04-21 20:42] michalbundyra commented on #19
Only PHP 5.4+. We support PHP 5.3 here.
See: https://github.com/laminas/laminas-zendframework-bridge/commit/2eeb7d9f0284b4d3fc71d1289c761340a738508d

[2019-04-22 20:29] JanMikes commented on #18
I know rector and use it regularly on my projects, it is a very good tool for refactoring!

I have read somewhere that there will be a migration tool from Zend to Laminas, I am curious, what tool would you use, or write a new one?

Imho using something that already exists might save you a lot of time 😉

[2019-04-23 15:07] vv12131415 commented on #19
@webimpress oh, sorry, didn't know that

[2019-04-23 15:07] #19 closed, assigned to nobody

[2019-11-07 08:09] maestroevn opened #26 "laminas.dev website is down"
https://docs.laminas.dev/laminas-zendframework-bridge/
https://discourse.laminas.dev/

[2019-11-07 08:15] michalbundyra commented on #26
@tigranmaestro I would say it is no up yet ;-)

We are testing migration and planning the full migration to Laminas in this month.
See: https://gist.github.com/weierophinney/df937d870b0d8bded4d1185ef510aaed

[2019-11-12 16:52] weierophinney commented on #26
Yes - this is a known issue.

The migration tooling is rewriting URLs to their final locations, but those URLs will not be functional until we cut over to the new repositories.

[2019-11-12 16:52] #26 closed, assigned to nobody

[2019-11-12 17:02] weierophinney commented on #18
@TomasVotruba and @JanMikes —

I'm sorry I didn't see and respond to this earlier. When we pushed the package, we were in the early stages of development.

There is more going on than what you describe, however.

The Laminas packages will act as _replacements_  for the ZF packages. We do not expect there to be a mix of Laminas and ZF packages in a project. However, if there are, we need to do a fe

[2019-11-12 17:02] #18 closed, assigned to nobody

[2019-11-12 17:04] weierophinney commented on #17
@lpj145 We have provided information on https://getlaminas.org about what will happen. At this stage, we are close to launching the technical project, and we encourage you to [help test the migration tooling](https://gist.github.com/weierophinney/df937d870b0d8bded4d1185ef510aaed).

[2019-11-12 17:04] #17 closed, assigned to nobody

[2019-11-12 17:09] TomasVotruba commented on #18
No troubles :) Thanks for reaching out :+1:

[2020-01-03 06:42] DeyV opened #43 "Migration from ZendFramework on old PHP"
Some projects that use ZendFramework still support old php versions.
For example PHPOffice / PHPWord  >= php 5.3

### BC Break Report

#### Summary

laminas-zendframework-bridge require >= 5.6 and is required even in old tags just rewrited to laminas (great job btw), tags used by older php versions

#### Previous behavior

Old php 5.3 - 5.5 projects use old tags of ZendFramework, whichout addition

[2020-01-03 08:09] thexpand commented on #43
If I'm not mistaken, these version are not supported by the PHP core team anymore, why adding support for them on our side, then?

[2020-01-03 10:05] DeyV commented on #43
Of course - they are obsolete and nobody should.

But if You want fast migration from zf to laminas - it should be really easy process.
For example - why did your team take the time to rewrite the old ones tags and old obsolete versions?

Without this fix  - most of this work is useless.

[2020-01-03 10:23] thexpand commented on #43
Yes, that makes sense - projects that require older version of specific `zendframework/zend-*` packages should be able to easily migrate to the same version `laminas/laminas-*` packages, hence the support for older PHP versions for `laminas/laminas-zendframework-bridge`. Thanks for the clarification.

[2020-01-03 11:09] DeyV commented on #43
My MR for this problem. https://github.com/laminas/laminas-zendframework-bridge/pull/44

[2020-02-15 11:02] remorhaz opened #48 "Append rewritten aliases"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

The project I'm trying to move from ZF to Laminas often uses interface names as an alias in ServiceManager config, and sometimes it's a `Zend\...Interface::class` key. But in this case when I start switching to `Laminas\...` interfaces in my code there's no such

[2020-02-24 12:01] thomasvargiu opened #49 "Unable to use with PHP 7.4 preload"
The current behaviour doesn't allow to use the new PHP 7.4 preload.
It's useful for laminas-mvc application to preload all `laminas-*` classes, but right now the autoloader can't register the aliases because the laminas classes are already loaded.

I don't know how to solve it, but probably it can be useful to have a function where we can provide a list of classes (maybe from composer's `autoload_

[2020-02-25 09:03] froschdesign commented on #49
@thomasvargiu
This component is only intended for **temporary use** and it should not be used in other libraries.
A complete [migration](https://docs.laminas.dev/migration/) should solve the problem.

[2020-02-25 09:04] #49 closed, assigned to nobody

[2020-02-27 13:27] thomasvargiu commented on #49
Thank you @froschdesign. I agree, but some big projects uses libraries that they didn't know when (end if) will be migrated.

If someone is interested, this is a simple script to write aliases of preloaded classes, and it should be called before to include the composer autoloader (this is just an experiment).

[code]

[2020-03-25 11:05] boesing opened #51 "`ConfigPostProcessor` replaces dependency service and therefore removes factory mapping"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.0.1

#### Summary

Hey guys, I am experiencing an issue with mezzio-only projects where the `ConfigPostProcessor` provided from this project replaces keys and values in the project configuration and by doing that, destroying the factory mapping for a zendframework service.

I've tried this with an mvc application but it s

[2020-03-25 14:35] weierophinney commented on #51
In your project, is the laminas-dependency-plugin installed?

[2020-03-25 14:46] boesing commented on #51
Just to make it more transparent (as we are chatting in slack):
Yes: https://github.com/boesing/mezzio-project/blob/bug/config-post-processor-replaces-service-from-servicemanager/composer.json#L45

[2020-03-25 15:01] weierophinney commented on #51
Root cause analysis:

Normally, laminas-zendframework-bridge kicks in in two ways. First, via autoloading, it will see a request for `Zend\Form\Factory`, alias that to `Laminas\Form\Factory`, and carry on. This works fine.

The other part of the work is when requesting a service from the container. That logic works when there _service aliases_ exist, aliasing the legacy service name to the new ser

[2020-03-25 18:11] weierophinney opened #53 "Tool should not rename classes using "Zend" or "ZF" in them"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.0+

#### Summary

Given a class name such as `Some\Vendor\Zend\Form\ZendFormFactory`, the bridge rewrites this to `Some\Vendor\Zend\Form\LaminasFormFactory`. This can be problematic for 3rd party libraries and/or generated code.

#### Current behavior

Rewrites `Some\Vendor\Zend\Form\ZendFormFactory` to `Some\Vendor\Zend\

[2020-03-25 18:52] #51 closed, assigned to nobody

[2020-03-26 14:11] #53 closed, assigned to nobody

[2020-03-26 16:04] #48 closed, assigned to nobody

[2020-03-30 21:52] phaizullin opened #60 "Append rewrite delegator classes"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.0.2

#### Summary

In delegators classes are not rewritten with Laminas namespace.

In 1.0.1 it works well.

#### Current behavior
I connect bridge module to my app modules for rewriting zend classes.

In delegators I used \Zend\ServiceManager\Proxy\LazyServiceFactory
[code]
But it throws with error in createDelegatorFrom

[2020-03-31 08:04] boesing opened #62 "Abstract factories and lazy services "class_map" are not replaced with 1.0.2"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.0.2

#### Summary

Same behavior as in laminas-zendframework-bridge#60
With the changes made in 1.0.2, we only handled `factories`, `invokables` and `aliases` in the replacement.

#### Current behavior

`abstract_factories` definition and `lazy_services` definition are not replaced.

#### How to reproduce

Use those confi

[2020-04-02 09:43] stof opened #64 "The bridge does not seem to work in all cases"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.0.1

#### Summary

We got many reports that `ocramius/proxy-manager` 2.2 (which was using `zendframeword/zend-code`) breaks when using the `laminas/laminas-code` replacement. See https://github.com/symfony/symfony/issues/35934 and https://github.com/doctrine/DoctrineMigrationsBundle/issues/300 for instance.
It looks like

[2020-04-02 09:47] michalbundyra commented on #64
@stof we believe it was a problem with composer and it is fixed now.
For reference please see:
https://github.com/laminas/laminas-code/issues/37
https://github.com/composer/composer/issues/8622

[2020-04-02 17:19] #60 closed, assigned to nobody

[2020-04-03 15:58] #62 closed, assigned to nobody

[2020-05-18 21:04] driehle opened #65 "Developer tools do not work for BjyAuthorize anymore"
### BC Break Report

laminas-zendframework-bridge breaks https://github.com/kokspflanze/BjyAuthorize in a way that the templates for laminas-development-tools are not registered correctly anymore.

|    Q        |   A
|--------- | ------
| Version  | 1.0.3

#### Summary

The module rewrites `zend-developer-tools/toolbar/bjy-authorize-role` which should probably not be rewritten.

#### Previous beh

[2020-05-20 16:35] weierophinney commented on #64
@stof Can you provide an update? Is this still an issue, or is it resolved when using a current Composer version?

[2020-05-20 16:47] #65 closed, assigned to nobody

[2020-05-20 18:44] stof commented on #64
I was not the one having issues. I was the one triaging the Symfony and Doctrine issues.

[2020-05-20 18:45] stof commented on #64
@mmarton @andchir as you were the one reporting the issues to Symfony and Doctrine, can you tell us whether updating Composer to 1.10+ fixed the issue ?

[2020-05-20 18:53] mmarton commented on #64
I no longer have it. But i have no idea what fixed it. New versions have been released since then  from composer, laminas and doctrinemigrations

[2020-05-25 11:43] dennisameling commented on #64
Updating to Composer 1.10+ fixed the issue for us. Related [changelog entry](https://github.com/composer/composer/blob/master/CHANGELOG.md#1100-2020-03-10):

[2020-05-25 11:50] #64 closed, assigned to nobody

[2020-09-05 20:59] aaronbushnell opened #70 "Getting "failed to open stream: No such file or directory in /autoload.php on line 5" when loading package"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12

#### Summary

I am seeing the following error message when using a stock install via Composer. Here's my composer file.

[code]

And here is my PHP file that autoloads the Composer dependencies:
[code]

I'm seeing this issue in craftcms/cms#6773, but posting it here as it seems to be occurring due to the laminas/lamin

[2020-09-05 22:55] aaronbushnell commented on #70
Moving to laminas/laminas-feed#22!

[2020-09-05 22:55] #70 closed, assigned to nobody

[2020-09-15 10:36] robertmarsal opened #73 "Development mode response times have increased 10x after migration."
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.1.0

#### Summary

Development mode response times have increased 10x after migration.

#### Current behavior

We have a large Apigility deployment (17 APIs, 100s of services). Using Zend/Apigility packages the average response time in development mode (config not cached) is around 70 ms. Once migrated to Laminas packages

[2020-09-15 13:39] weierophinney commented on #73
One trick you can use is to audit your third-party libraries for usage of Zend Framework and/or legacy Apigility packages; the easiest way to determine that is running `composer show` and seeing if any were installed. If none are being used, you can add the following to your `composer.json` file:

[code]

(And remove any entry in the `require` section, if present.)

After making your changes, run

[2020-09-15 13:59] froschdesign commented on #73
@weierophinney
Should we add this hint to the migration guide?

[2020-09-15 14:01] weierophinney commented on #73
Yes. To be honest, I thought we already had :frowning: .

[2020-09-16 08:24] robertmarsal commented on #73
Thanks @weierophinney. I had to use `replace` instead of `provide` in composer.json but response times are as expected now. `replace` will also remove the module from `modules.config.php`. As far as I am concerned this can be closed because there is a workaround.

[2020-10-04 15:27] boesing opened #74 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2021-01-12 08:44] staabm opened #75 "README does not mention which ZF versions are supported"
### Bug Report

As a user transitioning away from an old ZF Framework codebase, I need to know which versions of ZF are supported by this bridge.

|    Q        |   A
|------------ | ------
| Version(s)  | 1.1.1

#### Summary

as already done in https://github.com/laminas/laminas-migration it would be helpful to know which major versions of the zend framework are/can be 'bridged' with this compone

[2021-02-10 08:11] boesing opened #76 "`ConfigPostProcessor::replaceDependencyAliases` does not prevent infinite loop"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.1.1

#### Summary

I recently ran into an infinite loop due to the fact that there was an alias pointing to itself.
I know, thats due to invalid configuration but as a consumer, I'd like to get an information that the configuration might be invalid rather than running into an infinite loop.

I think, we can fix this when

[2021-02-19 20:02] rimvislt opened #77 "Bridge does not work with zend i18"
### Bug Report

TypeError : Argument 1 passed to Laminas\View\Helper\HeadTitle::setTranslator() must be an instance of Laminas\I18n\Translator\TranslatorInterface or null, instance of Zend\Mvc\I18n\Translator given

modules.config.php
...
'Zend\\Db',
    'Zend\\Filter',
    'Zend\\Hydrator',
    'Zend\\InputFilter',
    'Zend\\Paginator',
    'Zend\\Router',
    'Zend\\Validator',
    'ZF\\Apigili

[2021-02-25 21:52] #74 closed, assigned to nobody

[2021-02-25 21:59] #43 closed, assigned to nobody

[2021-05-31 10:50] beberlei opened #83 "Unaccaptable performance hit"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | all

#### Summary

The bridge prepend autoloader runs on all autoloaded classes regardless of what package they are from. The implementation is not very efficient and adds unacceptable overhead of 4ms for a regular Symfony request of 200ms. The problem imho is that a lot of laminas components always include this bridge, eve

[2021-05-31 10:57] Ocramius commented on #83
I think this mostly needs documentation improvements:

 * the fact that this package is included by default in `laminas/*` packages is intentional, and can only be mitigated by **removal** of the requirement in the next major release: this is because anyone requiring `zendframework/*` packages (and packages in its ecosystem) will get compatible `laminas/*` packages, and we cannot just break those

[2021-05-31 11:04] beberlei commented on #83
@Ocramius I agree that 2% overhead is ok when it can be removed with a one liner, but as you mentioned this is not documented and i wasn't aware it was so easy to get around it. Thank you for mentioning it.

[2021-05-31 11:08] Ocramius commented on #83
Question is how to make this more visible now: do you think that adding it to the output of `composer install` would suffice?

Seems like the cleanest approach to literally **force** people to know that this thing is actively doing something.

[2021-05-31 11:08] beberlei commented on #83
@Ocramius Just realized for fast requests that are in the 10-20ms range the overhead becomes 10% though :-(

![laminas2](https://user-images.githubusercontent.com/26936/120184475-51f25280-c211-11eb-8d35-65dbcc102c40.png)

[2021-05-31 11:10] Ocramius commented on #83
For that, I think a perf optimization is valid.

Perhaps we can add a `phpbench/phpbench` test to verify the impact long-term, and patch this stuff:

https://github.com/laminas/laminas-zendframework-bridge/blob/ff8e9a7832de38fc329eb7cc0bc2b9bdaeddb819/src/Autoloader.php#L124-L171

[2021-05-31 15:42] beberlei commented on #83
We rolled this out to production now and monitoring on the autoloader shows the heavy effect, average autoloading time increases from 1 ms to 3ms on a 9ms average response time.

![Screenshot from 2021-05-31 17-39-38](https://user-images.githubusercontent.com/26936/120216584-7eb96080-c237-11eb-9f38-205dde1883f6.png)

[2021-06-01 02:13] Ocramius commented on #83
Have you tried rolling out the `replace:` suggestion? That is pretty much
**the** way this is supposed to be handled, until the entire Zend ->
Laminas rename unfortunate fallout (sigh, american copyright laws) is over.

On Mon, May 31, 2021, 17:42 Benjamin Eberlei ***@***.***>
wrote:

[2021-06-01 02:36] beberlei commented on #83
I am running into trouble getting it to work in combination with https://github.com/beberlei/composer-monorepo-plugin/ but hope to find a solution soon.

[2021-06-17 13:21] Ocramius commented on #83
@beberlei I've identified that `laminas/laminas-code` no longer needs `laminas/laminas-eventmanager` in its core, so I'm releasing a new minor today with the removed dependency (and therefore the performance hit should be gone, if you only need it for the proxying mechanisms)

[2021-06-24 10:58] #75 closed, assigned to nobody

[2021-08-06 11:22] Ocramius commented on #83
@beberlei FYI, there's work in progress to completely phase out `laminas/laminas-zendframework-bridge`.

For now, we're probing this on some individual packages, like we did in https://github.com/laminas/laminas-stdlib/pull/33

If that proves to be successful, we will go on and implement this for all other packages.

[2021-11-23 10:03] Androlax2 opened #88 "ClassLoader type"
Hello,

Got a bug on another repository : https://github.com/Rareloop/lumberjack-core/issues/35

Is this from here or from this repo ?

[2021-11-23 10:14] Ocramius commented on #88
Possibly related to a combination of incompatible dependencies.

Check:

 * your `composer.lock`, specifically which versions of this library you have installed
 * your `composer --version`

[2021-12-10 09:57] boesing opened #89 "Incompatibility with composer 2.2.0RC1"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.4.0

#### Summary

https://github.com/composer/composer/issues/10349
With composer 2.2.0, the autoloading is already provided for plugins during installation of dependencies.
Due to this fact, `vendor/autoload.php` might be missing and thus, the autoloader will crash.

#### Current behavior

[code]

#### How to reproduce

[2021-12-10 14:15] Androlax2 commented on #88
Hello @Ocramius

Here are the versions locked in my composer.lock for each laminas package :

[code]

[code]

And my composer version :

Composer version 2.1.12

[2021-12-10 14:33] Androlax2 commented on #88
Okay, I found the incompatibility, It don't come from here, see:  https://github.com/wp-media/imagify-plugin/issues/639

[2021-12-17 10:06] PowerKiKi commented on #83
Most Laminas and Mezzio packages have been updated (and released) to remove the dependency on this package.

The only one left, and on which I cannot do anything anymore, are:

- https://github.com/mezzio/mezzio-authentication-oauth2/pull/38
- https://github.com/laminas/laminas-xml2json/pull/9
- https://github.com/laminas/laminas-mvc-plugin-fileprg/pull/17
- https://github.com/laminas/laminas-barc

[2021-12-17 12:09] Ocramius commented on #83
Two of the above left: we can then probably phase out this package completely, and call this dark chapter of ZendFramework "done" :|

[2021-12-20 20:20] Seldaek commented on #89
I don't want to stress anyone here, I don't know what the impact of this issue will be exactly, nor how widespread the use of this package is, but we do plan to release Composer 2.2 on the 22nd so I just wanted to give you a heads up that this will maybe become more pressing then. If you think that'll wreak havoc and you can't get a fix out in time let me know.

cc @weierophinney

[2021-12-20 20:24] weierophinney commented on #89
I don't even understand how this gets triggered. :smile:

@boesing , have you had a chance to look into this at all?

[2021-12-20 20:29] Ocramius commented on #89
It's at the very core of most laminas packages, but:

 1. We could declare it incompatible with `composer-plugin-api:>=2.2.0`, perhaps?
 2. Package is slowly being phased out: perhaps the above really is a decent solution

[2021-12-20 20:34] Seldaek commented on #89
The way this would get triggered is if a plugin requires laminas/laminas-zendframework-bridge - I don't know if you have any composer plugins in mind that would be in the list of dependents here https://packagist.org/packages/laminas/laminas-zendframework-bridge/dependents?order_by=downloads&requires=require ?

During plugin initialization it would then require the `files` autoload from this packa

[2021-12-20 20:53] Seldaek commented on #89
Looked up package types in the packagist DB, and it seems like these 3 are candidates for triggering the issue:

1. https://packagist.org/packages/laminas/laminas-component-installer (not requiring the bridge in the latest release, so there's an upgrade path, but still quite a bit of old versions being installed)
2. https://packagist.org/packages/laminas-api-tools/api-tools-asset-manager ~300 inst

[2021-12-20 20:55] boesing commented on #89
I am not able to post a full output as it wont be that useful anyways. there are too many private packagist components in there.

But it happens in combination with laminas-dependency-plugin and the bridge.

the reason is that we do search for composer autoload.php at runtime which might not be available with composer 2.2+

I think it should work having a noop autoloader in case the `vendor/autolo

[2021-12-20 21:00] Ocramius commented on #89
Agreed, but it's still possible to ask people to run the latest version (and to check for that), while a solution is being investigated.

[2021-12-21 13:50] boesing commented on #88
Hm, with composer v2 and composer v3, the `vendor/autoload.php` always returns an instance of `Composer\Autoload\ClassLoader`.

Somehow, your error message states that this is not the case. Thats kinda weird but might be solved with #90 (even tho it is not supposed to solve it that way).

Maybe double-checking the plugin you are referring to might help to find the reason on why the autoloader file

[2021-12-21 13:52] boesing commented on #89
I've created a simple-enough solution in #90
If the class loader could not be found, we simply do not register the bridge autoloaders and might be good to go.

[2021-12-21 13:56] Androlax2 commented on #88
Yeah for some reason `vendor/autoload.php` return an instance of `Composer\Autoload\ClassLoader` but with some extra letters and numbers on the `Autoload` namespace

[2021-12-21 14:04] Androlax2 commented on #88
Okay, I found the plugin where came the problem : [https://github.com/dangoodman/composer-for-wordpress/blob/master/ComposerForWordpress.php](https://github.com/dangoodman/composer-for-wordpress/blob/master/ComposerForWordpress.php)

[2021-12-21 14:04] Androlax2 commented on #88
https://github.com/dangoodman/composer-for-wordpress/blob/master/ComposerForWordpress.php#L58

[2021-12-21 14:18] boesing commented on #88
Okay, closing here as this is unrelated to this repository.

No one should mess around with composer internals imho.
Thanks for pointing this out, @Androlax2!

[2021-12-21 14:18] #88 closed, assigned to nobody

[2021-12-21 14:35] Ocramius commented on #89
Closing as per #90

[2021-12-21 14:35] #89 closed, assigned to nobody

[2021-12-21 14:50] Androlax2 commented on #88
If this is really needed for the plugin, maybe Composer could implement an interface on `ClassLoader` so you could add that interface in the type ?

[2021-12-22 10:01] Seldaek commented on #89
Glad this got fixed! To avoid ruining everyone's holiday season tho I figured it'd be safer to make sure Composer skips the file in versions not containing the fix.. https://github.com/composer/composer/commit/54123e4093c7770ec3d807263274ce750302bc4b

[2022-01-05 21:33] PowerKiKi commented on #83
I think this issue can be closed because the very last PR to stop using this package is about to be merged and released.

[2022-01-05 21:36] Ocramius commented on #83
Which one is that? 🤔

[2022-01-05 22:22] PowerKiKi commented on #83
https://github.com/laminas/laminas-mvc-plugin-fileprg/pull/17#issuecomment-1005989977

[2022-01-05 23:36] Ocramius commented on #83
Awesome, released! 💪

I'd say that this package needs to be abandoned soon-ish then.

[2022-01-12 20:54] hostep commented on #83
As far as I can see, the last released version of `laminas/laminas-server` [still includes this](https://github.com/laminas/laminas-server/blob/2.11.0/composer.json#L27). It got removed as dependency about 2 years ago [over here](https://github.com/laminas/laminas-server/commit/d47435d6bec7f9be85863dc45323320432e103bc#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34), but this

[2022-01-12 21:27] Ocramius commented on #83
@hostep send a patch

[2022-03-09 15:05] #76 closed, assigned to nobody

[2022-04-14 08:41] patrick-braun opened #93 ""ZendForm" getting replaced in 3rd party module"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.5.0, current commit (581d11fe5691b0b84d1f7f89dd5812d6a58d979f) as of this report

#### Summary

We have an internal module called KrumediaZendFormBinder which is getting renamed to KrumediaLaminasFormBinder which leads to a NotFound exception.

#### Current behavior

The phrase "ZendForm" is getting replaced in 3rd party

[2022-04-17 07:21] Ocramius commented on #93
Unclear to me what the problem is: a patch with a failing test case + potential fix would be very welcome, in order to better explain what is going on 👍

[2022-04-20 09:19] patrick-braun commented on #93
I have created a minimal project structure that errors out, the `laminas-project` is just the `laminas-skeleton-application` with the minimal controller plugin in `custom-zend-form-binder`.
`composer install` in both folders and the crash happens on opening the `/application/test` route.

If I add the
`"CustomZendFormBinder" => "CustomZendFormBinder"`
line to
`laminas-project\vendor\laminas\lamina

[2022-04-20 10:07] Ocramius commented on #93
What's the observed crash?

Note: no, I can't check your example project - needs to be part of the test suite here.

[2022-06-02 09:16] wjonkerhulst opened #95 "Deprecation Notice when using composer 2.3.6"
### Bug Report
|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z
| Composer | 2.3.6
| laminas-zendframework-bridge | 1.5.0

#### Summary
When executing composer install the following deprecation notice is shown
`Deprecation Notice: Not passing a repository manager when calling defaultRepos is deprecated since Composer 2.3.6, use defaultReposWithDefaultManager() instead if you cannot

[2022-06-02 09:30] froschdesign commented on #95
This information is missing in the release notes: https://github.com/composer/composer/releases/tag/2.3.6
Related changes: https://github.com/composer/composer/pull/10799

And it looks like Composer is [not following semantic versioning](https://semver.org/#spec-item-7) here. :disappointed:

[2022-06-02 09:50] boesing commented on #95
They stopped doing so starting with composer v2.3.0
They try to avoid having new majors every few months while still want to be able to quickly adapt to new stuff.

So actually, composer is becoming symfony.

---

Anyways, I'd suggest to ignore the fact. Imho projects should try to get rid of the bridge and update to the latest laminas versions. We started adding the bridge as conflicts in the lat

[2022-06-02 10:02] boesing commented on #95
Oh btw, maybe this issue is related to the dependency-plugin rather than to this project.
I can't see where this is used here - we do not even have a dependency to composer (besides the autoloader).

Can you confirm this @wjonkerhulst?
Could you probably `rm -rf vendor/laminas/laminas-dependency-plugin` and re-run `composer install` afterwards?

[2022-06-02 10:27] Ocramius commented on #95
Also, most laminas libraries now explicitly conflict with the bridge.

[2022-06-02 11:13] wjonkerhulst commented on #95
@boesing I think you are right.
![image](https://user-images.githubusercontent.com/54948500/171617224-e4fe400a-4e3f-49ea-bd5f-09aa4fa3dd5d.png)

Anyway, I will look into removing the dependency on this and other obsolete packages.

[2022-06-02 11:20] wjonkerhulst commented on #95
@boesing This library is still part of the API tools skeleton (https://github.com/laminas-api-tools/api-tools-skeleton/blob/1.8.x/composer.json)

[2022-06-02 11:37] wjonkerhulst commented on #95
I think I have been able to trace the error back to the laminas/laminas-component-installer package. I have removed the packages one by one to see if the errors would disappear. The depreciation notice is not displayed anymore when removing the laminas/laminas-component-installer package from the project.

[2022-07-14 08:55] #93 closed, assigned to nobody

[2022-07-14 15:01] #73 closed, assigned to nobody

[2022-07-14 15:04] weierophinney commented on #77
Have you performed a migration to Laminas yet? This package is supposed to be used within a Laminas application in order to allow 3rd party components that depend on ZF components to work. Adding it to a ZF application will not generally work.

Please follow the [migration documentation](https://docs.laminas.dev/migration/) and then report back if you have errors. If you do, please provide a full

[2022-07-14 15:06] weierophinney opened #96 "Mark component feature-complete"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary

Per a [decision by the Technical Steering Committee](https://github.com/laminas/technical-steering-committee/blob/6dc4d8a798021f690ad8c65d0d9a0c4b21835a1e/meetings/minutes/2022-07-11-TSC-Minutes.md#future-of-the-migration-layer), we should mark this compo

[2022-07-14 16:24] #96 closed, assigned to weierophinney

[2022-07-14 16:35] Ocramius commented on #83
Closing here: this component is slowly being phased out anyway, so your focus should be to migrate.

[2022-07-14 16:35] #83 closed, assigned to nobody

[2022-07-20 14:52] renovate[bot] opened #100 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-zendframework-bridge).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a ch

[2022-07-29 09:20] cvigorsICBF opened #101 "Performance Issue with 1.6.0"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 1.6.0

#### Summary

The zendframework-bridge is a dependency of other libraries we use, e.g. API Tool, Laminas Cache, Laminas Form, and after doing a composer update from 1.5.0. to 1.6.0, performance of our application has taken a significant hit.
Each request to the application takes around 1 second longer and phpuni

[2022-07-29 09:24] Ocramius commented on #101
Hmm, could you run a profiler (xdebug profile) and compare 1.5.0 and 1.6.0?

I only see this diff: https://github.com/laminas/laminas-zendframework-bridge/compare/laminas:7f04939...laminas:d74d2da

Unless the bridge config being processed is gigantic, I don't understand how this could happen :thinking:

[2022-07-29 10:09] cvigorsICBF commented on #101
Will this snippet do? It's taken from my development environment and sorted by Duration Exclusive desc.
You can see very slow duration time from Laminas\ZendFrameworkBridge\Replacements::__construct() at the top

I have a snippet of the same report using 1.5.0 further down. The Replacements:_construct is much faster in that report so appears much further down in the report when sorted this way. Th

[2022-07-29 10:21] Ocramius commented on #101
Hmm, interesting how `Laminas\ZendFrameworkBridge\Replacements::__construct()` is repeated so many times.

Can indeed see how the inclusive `ConfigPostProcessor` calls were non-existing before, but not now.

The bridge keeps re-initializing itself each time too.

[2022-07-29 10:21] Ocramius commented on #101
@weierophinney I don't have clear insight on how the replacements logic is initialized: is the bridge supposed to scan the config each time?

[2022-07-29 10:50] Xerkus commented on #101
I assume this was collected on the test suite run? I suspect you might have module manager events not getting reset between tests, which results in more and more listeners attached to `mergeConfig` event.
https://github.com/laminas/laminas-zendframework-bridge/blob/c1ca658ea0b46ef3784408ba2bbd145144ccbbec/src/Module.php#L19-L24
This would result in ever increasing amount of bridge's config post pr

[2022-07-29 10:53] cvigorsICBF commented on #101
No, not a unit test. This was an actual API request to the application on my development environment.

[2022-07-29 11:17] Xerkus commented on #101
This is very strange, since config post processing should ever happen once. And with config caching enabled it should not happen at all after the first call.
`Replacements` in 1.6.0 instantiated twice: first in `ConfigPostProcessor` constructor and then each time it is invoked.

In the call statistics you provided number of invocations for `Replacements` constructor is 1 more than number of calls

[2022-07-29 11:21] Xerkus commented on #101
What is worse, each time `Replacements` is created it loads a file with default replacements. file system access done many times is the biggest contributor to slowdown here.

[2022-07-29 11:45] Xerkus commented on #101
@cvigorsICBF unless you need this package I would recommend to get rid of it entirely since it is a Zend Framework transition helper.
Remove module, or config processor if you use ConfigProvider with mezzio, then remove package from the project with `replace` in the root composer.json
[code]
This would also remove autoloading overhead it is causing.

[2022-07-29 12:00] cvigorsICBF commented on #101
I'd like to remove it, as I see that it has been removed from other libraries like Form, View, Cache. I'll need to upgrade those libraries.

It still seems to be a requirement of API-Tools.
I can fix this application to use 1.5.0 though.

[2022-07-29 13:14] weierophinney commented on #101
As @Xerkus notes, the instantiation of `Replacements` should happen:

- During initialization of the listener
- When the listener is invoked
- and if config caching is happening, only on the initial request that creates the cache

The whole point of the listener is to scan config and rewrite ZF-related keys to their Laminas equivalents, and it only needs to be done once. The main change from 1.5.0

[2022-07-29 13:34] Ocramius commented on #101
Does #102 solve this?

[2022-07-29 13:51] weierophinney commented on #101
It should; @cvigorsICBF , can you test 1.6.1, please?

[2022-07-29 13:52] cvigorsICBF commented on #101
Thankfully not in development mode in production.
![image](https://user-images.githubusercontent.com/70528846/181772520-a8eceeeb-bba3-4b9b-a405-83fa97548e4e.png)

Config cache is disabled though:
grep -R config_cache_enabled
config/application.config.php:        'config_cache_enabled' => false,

The info I would have been providing so far would be from development where development mode is enabled

[2022-07-29 14:05] cvigorsICBF commented on #101
Yes, I am going to say that it does.
Unit Test performance is consistent when using versions 1.5.0 and 1.6.1
I won't be able to test on production until I do a release next week, but version 1.6.1 looks good as far as dev is concerned

[2022-07-29 14:07] Xerkus commented on #101
Thanks you for the report.

[2022-07-29 14:07] #101 closed, assigned to nobody

[2022-07-29 15:29] cvigorsICBF commented on #101
Thanks you all for the very quick response to this issue. It is very much appreciated.

[2022-11-25 14:07] ThanksOihyuo opened #105 "Y"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | x.y.z

#### Summary

#### Previous behavior

#### Current behavior

#### How to reproduce

[2022-11-25 14:08] #105 closed

[2022-11-25 14:29] froschdesign commented on #77
@ThanksOihyuo
Please follow the migration guide otherwise laminas-zendframework-bridge will not work.

[2022-11-25 14:29] #77 closed, assigned to nobody

[2022-11-26 02:28] ThanksOihyuo opened #106 "[RFC]: [TITLE OF RFC]"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | x.y.0  |
| BC Break?           | Yes/No |

### Goal

### Background

### Considerations

### Proposal(s)

### Appendix

[2022-11-26 02:34] #106 closed

[2022-11-26 02:41] ThanksOihyuo opened #107 "[RFC]: [TITLE OF RFC]"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | x.y.0  |
| BC Break?           | Yes/No |

### Goal

### Background

### Considerations

### Proposal(s)

### Appendix

[2022-11-26 02:41] #107 closed